.form {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 5px;
    color: white;
    font-family: Arial, sans-serif;
}

.inputGroup {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.inputGroup label {
    flex: 0 0 100px;
    /* Adjust this width as needed */
    margin-right: 10px;
}

.textInput {
    flex: 1;
    padding: 5px;
    background-color: #333;
    color: white;
    border: 1px solid #555;
    border-radius: 3px;
}

.fileInput {
    display: none;
}

.fileInputLabel {
    background-color: #333;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
}

.submitButton {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}